<div>

<div class="row">
  <div class="col">
    <button class="btnFilter h-100" (click)="isFilter = !isFilter">All Filters</button>
  </div>
  <div class="col ml-auto">
    <button class="btnFilter h-100" (click)="isFilter = !isFilter">All Filters</button>
  </div>
</div>
<div class="main-content1">
<h1> I am the main content </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
</div>
<div class="main-content2 ml-auto">
  <h1> I am the main content </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
  </div>
</div>
